.blog-form-wrapper {
    @include base-grid();
    grid-template-columns: 1fr;
    padding: 42px;

    @include input-element;
    input {
        margin-bottom: 0px;
    }
    .text-input-wrapper {
        .blog-content {
            height: 4em;
            
            &:focus {
                border: 2px solid darkred;
            }
        }
    }

    .image-uploaders {
        @include base-grid();
        grid-template-columns: 200px;
    }

    .image-removal-link {
        color: white;
    }
}