.content-page-wrapper {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 84px);

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    a {
      text-decoration: none;
      transition: 0.3s all ease-in-out;
      color: blue;

      &:hover {
        font-size: 2em;
        color: darkred;
      }
    }

    svg {
      font-size: 2em;
      color: darkred;
      margin-right: 5px;
    }

    .contact-bullet-points {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .bullet-point-group {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
