@import "./variables.scss";
@import "./mixins.scss";
@import "./base.scss";
@import "./button.scss";
@import "./nav.scss";
@import "./portfolio.scss";
@import "./auth.scss";
@import "./portfolio-manager.scss";
@import "./portfolio-sidebar-list.scss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');