@mixin base-btn {
    cursor: pointer;
    height: 42px;
    font-size: 1em;
    font-weight: 500;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
    background-color: #4444dd;
    color: white;
    text-decoration: none;

    &:active, &:focus {
        color: darkred;
        border-top: 2px solid red;
        border-bottom: 2px solid red;
        filter: brightness(50%);
    }

    &:hover {
        color: red;
        border-left: 2px solid red;
        border-right: 2px solid red;
        letter-spacing: 2px;
        transition: 0.3s ease-in-out;
        filter: brightness(75%);
    }
}

@mixin input-element {
    input {
        font-family: inherit;
        color: black;
        padding: 5px 0px;
        width: 100%;
        border-top: 0px;
        border-right: 0px;
        border-left: 0px;
        border-bottom: 1px solid blue;
        background-color: transparent;
        transition: 0.5 all ease-in-out;
        font-size: 1.1em;
        margin-bottom: 21px;

        &:focus {
            outline: none;
            border-bottom: 1px solid darkred;
        }
    }
}

@mixin base-grid() {
    display: grid;
    grid-gap: 21px;
}